<!DOCTYPE html>
<html>
<head>
<!--<script  data-min='../require.config.js' src='../JS/require.js'></script>-->
<link rel="stylesheet" href="../Css/bootstrap.min.css" type="text/css"/>
<link rel="stylesheet" href="../Css/main.css" type="text/css"/>
<script type="text/javascript" src="../TS/index.js"></script>
<title>TypeScript Sample</title>
</head>
<body>
<!--<script>
require(['../require.config'],function($){
	require(['type']);
});
</script>-->
<div id="container" class="container">
  
   
</div>
</body>
</html>

